<footer class="footer mt-auto py-3 cb-footer">
	<div class="container">
		<div class="d-flex flex-row justify-content-between">
			<span class="text-muted">
				<a target="_blank" href="https://github.com/drewhammond/chefbrowser">Chef Browser</a> v{{ app_version }}
			</span>
			<div class="d-flex">
				<div id="bd-theme" class="form-check form-switch dark-mode-toggle">
					<input class="form-check-input" type="checkbox" id="enable-dark-mode" data-bs-theme-value="light">
					<label  id="bd-theme-text" class="form-check-label" for="enable-dark-mode">Dark Mode</label>
				</div>
			</div>
		</div>
	</div>
</footer>
