<!doctype html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="same-origin">
	<title>{{ block "title" . }}{{ .title }} · Chef Browser{{end}}</title>
    {{include "layouts/head"}}
	<link rel="alternate icon" class="js-site-favicon" type="image/png" href="/ui/favicons/favicon.png">
	<link rel="icon" class="js-site-favicon" type="image/svg+xml" href="/ui/favicons/favicon.svg">
</head>
<body class="d-flex flex-column h-100">
{{include "layouts/nav"}}
<main class="flex-shrink-0">
	<div class="container">
        {{template "content" .}}
	</div>
</main>
{{include "layouts/footer"}}
{{ block "footer_scripts" .}}{{end}}
</body>
</html>
