<footer class="footer mt-auto py-3 cb-footer">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
			<span class="text-muted">
				<a target="_blank" href="https://github.com/drewhammond/chefbrowser">Chef Browser</a> v{{ app_version }}
			</span>
      <div class="d-flex">
        <div id="bd-theme" class="form-check form-switch dark-mode-toggle">
          <input class="form-check-input" type="checkbox" id="enable-dark-mode" data-bs-theme-value="light">
          <label id="bd-theme-text" class="form-check-label" for="enable-dark-mode">Dark Mode</label>
        </div>
      </div>
    </div>
  </div>
</footer>
<button id="btn-scroll-to-top" class="btn border-0" aria-label="Back to Top">
  <p class="m-lg-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
         class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16" focusable="false">
      <path
        d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
  </p>
  <span>Back to Top</span>
</button>
