{{ define "content"}}
  <div class="row">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h2 class="environment-headline">{{.environment.Name}}</h2>
        <p class="lead">{{.environment.Description}}</p>
      </div>
      <div class="">
        <a type="button" href="{{ base_path }}/ui/nodes?q=chef_environment:{{.environment.Name}}" class="btn btn-outline-primary">View
          Nodes</a>
      </div>
    </div>
  </div>
  {{ if .environment.CookbookVersions }}
    <h3>Cookbook Versions</h3>
    <ul class="list-unstyled">
        {{ range $cookbook, $constraint := .environment.CookbookVersions}}
          <li><strong>{{ $cookbook }}</strong> {{$constraint}}</li>
        {{ end }}
    </ul>
  {{ end }}

  {{ if or .environment.DefaultAttributes .environment.OverrideAttributes }}
    <h4>Attributes</h4>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#default-tab-pane">Default</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#override-tab-pane">Override</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane active" id="default-tab-pane" role="tabpanel">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <tbody id="default-tbody"></tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="override-tab-pane" role="tabpanel">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <tbody id="override-tbody"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      const flattenJSON = (obj = {}, res = {}, extraKey = '') => {
        for (let key in obj) {
          if (typeof obj[key] !== 'object') {
            res[extraKey + key] = obj[key];
          } else {
            flattenJSON(obj[key], res, `${extraKey}${key}.`)
          }
        }
        return res;
      };

      let attrs = {
        "default": {{ .environment.DefaultAttributes }},
        "override": {{ .environment.OverrideAttributes }}
      }

      let flattenedAttrs;
      for (const [attrClass, attrObj] of Object.entries(attrs)) {
        let attrTbody = document.getElementById(`${attrClass}-tbody`)
        let l = []
        flattenedAttrs = flattenJSON(attrObj, {}, '$.')
        for (const property in flattenedAttrs) {
          l.push(`<tr><td class="attribute-key">${property}</td><td><code>${flattenedAttrs[property]}</code></td>`)
        }
        attrTbody.innerHTML = l.join('')
      }
    </script>
  {{ end }}
{{ end }}
