<div class="row align-items-center">
		<div class="col-auto">
			<h1 class="cookbook-headline">
				<a href="/ui/cookbook/{{.cookbook.Metadata.Name}}/{{.cookbook.Metadata.Version}}">{{.cookbook.Metadata.Name}}</a>
			</h1>
		</div>
		<div class="col-auto">
			<select class="form-select form-select-sm" id="cookbook-versions-dropdown" onchange="if (this.value) window.location.href=this.value">
				<option selected value="{{ .cookbook.Metadata.Version }}">{{ .cookbook.Metadata.Version }}</option>
			</select>
		</div>
</div>
<div class="row">
	<div>
		<h1 class="cookbook-headline">
			<a href="/ui/cookbooks/{{.cookbook.Metadata.Name}}/{{.cookbook.Metadata.Version}}">{{.cookbook.Metadata.Name}}</a>
		</h1>
		<p class="lead">{{.cookbook.Metadata.Description}}</p>
	</div>
</div>
<div class="col">
	<ul class="nav nav-tabs justify-content-end">
		<li class="nav-item">
			<a class="nav-link {{ if eq .active_tab "recipes"}}active{{end}}"
			   href="/ui/cookbooks/{{.cookbook.Metadata.Name}}/{{.cookbook.Metadata.Version}}/recipes" data-bs-target="#recipes-tab-pane">Recipes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{ if eq .active_tab "files"}}active{{end}}"
			   href="/ui/cookbooks/{{.cookbook.Metadata.Name}}/{{.cookbook.Metadata.Version}}/files" data-bs-target="#files-tab-pane">Files</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{ if eq .active_tab "overview"}}active{{end}}" data-bs-target="#overview-tab-pane"
			   href="/ui/cookbooks/{{.cookbook.Metadata.Name}}/{{.cookbook.Metadata.Version}}">Overview</a>
		</li>
	</ul>
</div>
