main > .container {
  padding-top: 20px;
}

.node-headline, .role-headline, .environment-headline, .cookbook-headline, .databag-headline {
  font-weight: bold;
}

.node-headline small {
  font-weight: normal;
}

main a, .cb-footer a {
  text-decoration: none;
}

pre code.hljs {
  padding-left: 0.5em;
}

/* for block of numbers */
.hljs-ln td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  border-right: 1px solid;
  border-right-color: #dedede;
  color: #ccc;
  vertical-align: top;
  padding-right: 5px;
}

/* for block of code */
.hljs-ln td.hljs-ln-code {
  padding-left: 0.25em;
}

/* (#64) Disable here until we compile our own bootstrap CSS */
:root {
  scroll-behavior: auto;
}

.navbar-brand {
  font-weight: 400;
}

#theme-toggle {
  text-decoration: none;
}

#theme-toggle:hover {
  opacity: 0.8;
}

.cb-cookbook-version-badge {
  background-color: var(--bs-tertiary-bg);
}

$color-mode-type: data;
@include color-mode(light) {
  .cb-navbar, .cb-footer {
    background-color: var(--bs-light);
  }
  .cb-search-btn {
    border-color: var(--bs-success);
    color: var(--bs-success);
  }

  @import 'highlight.js/scss/stackoverflow-light';
}

@include color-mode(dark) {
  .cb-navbar, .cb-footer {
    background-color: var(--bs-secondary-bg);
  }

  .nav-link:hover, .nav-link:focus {
    color: var(--bs-emphasis-color)
  }

  .cb-search-btn {
    border-color: var(--bs-tertiary-color);
    color: var(--bs-tertiary-color);
  }

  @import 'highlight.js/scss/base16/default-dark';
  .hljs-ln td.hljs-ln-numbers {
    color: var(--bs-tertiary-color);
    border-right-color: var(--bs-tertiary-color);
  }

  .table {
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-hover-bg: var(--bs-tertiary-bg);
  }

  .table > thead {
    background-color: var(--bs-tertiary-bg);
  }
}

#btn-scroll-to-top {
  color: var(--bs-gray);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
}

.custom-links-btn {
  --bs-btn-active-border-color: transparent;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  width: 2.5em;
  vertical-align: -0.125em;
}
