main > .container {
  padding-top: 20px;
}

.node-headline, .role-headline, .environment-headline, .cookbook-headline, .databag-headline {
  font-weight: bold;
}

.node-headline small {
  font-weight: normal;
}

main a, .cb-footer a {
  text-decoration: none;
}

pre code.hljs {
  padding-left: 0.5em;
}

/* for block of numbers */
.hljs-ln td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  border-right: 1px solid;
  border-right-color: #dedede;
  color: #ccc;
  vertical-align: top;
  padding-right: 5px;
}

/* for block of code */
.hljs-ln td.hljs-ln-code {
  padding-left: 0.25em;
}

/* (#64) Disable here until we compile our own bootstrap CSS */
:root {
  scroll-behavior: auto;
}

.navbar-brand {
  font-weight: 400;
}

.dark-mode-toggle > .form-check-input {
	border-radius: 2em;
}

.dark-mode-toggle > label, input {
	cursor: pointer;
}

.cb-cookbook-version-badge {
	background-color: var(--bs-tertiary-bg);
}

$color-mode-type: data;
@include color-mode(light) {
	.cb-navbar, .cb-footer {
		background-color: var(--bs-light);
	}
	.cb-search-btn {
		border-color: var(--bs-success);
		color: var(--bs-success);
	}

	@import 'highlight.js/scss/stackoverflow-light';
}

@include color-mode(dark) {
	.cb-navbar, .cb-footer {
		background-color: var(--bs-secondary-bg);
	}

	.nav-link:hover, .nav-link:focus {
		color: var(--bs-emphasis-color)
	}

	.cb-search-btn {
		border-color: var(--bs-tertiary-color);
		color: var(--bs-tertiary-color);
	}

	#enable-dark-mode {
		background-color: var(--bs-tertiary-bg);
		border-color: var(--bs-secondary-color);
	}

	@import 'highlight.js/scss/base16/default-dark';
	.hljs-ln td.hljs-ln-numbers {
		color: var(--bs-tertiary-color);
		border-right-color: var(--bs-tertiary-color);
	}
}
