<!-- Attributes -->
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link disabled" data-bs-toggle="tab" data-bs-target="#merged-tab-pane">Merged</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" data-bs-toggle="tab" data-bs-target="#default-tab-pane">Default</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" data-bs-target="#normal-tab-pane">Normal</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" data-bs-target="#override-tab-pane">Override</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" data-bs-target="#automatic-tab-pane">Automatic</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane" id="merged-tab-pane" role="tabpanel">
		<div class="table-responsive">
			Merge functionality does not exist
			<table class="table table-striped">
				<tbody>
                {{ range $index, $value := .node.NormalAttributes }}
					<tr>
						<td><span class="node-attribute-key">{{$index}}</span></td>
						<td><span class="node-attribute-value"><code class="text-break">{{$value}}</code></span></td>
					</tr>
                {{ end }}
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane active" id="default-tab-pane" role="tabpanel">
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
                {{ range $index, $value := .node.DefaultAttributes }}
					<tr>
						<td><span class="node-attribute-key">{{$index}}</span></td>
						<td><span class="node-attribute-value text-wrap"><code class="text-break">{{$value}}</code></span></td>
					</tr>
                {{ end }}
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="normal-tab-pane" role="tabpanel">
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
                {{ range $index, $value := .node.NormalAttributes }}
					<tr>
						<td><span class="node-attribute-key">{{$index}}</span></td>
						<td><span class="node-attribute-value text-wrap"><code class="text-break">{{$value}}</code></span></td>
					</tr>
                {{ end }}
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="override-tab-pane" role="tabpanel">
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
                {{ range $index, $value := .node.OverrideAttributes }}
					<tr>
						<td><span class="node-attribute-key">{{$index}}</span></td>
						<td><span class="node-attribute-value text-wrap"><code class="text-break">{{$value}}</code></span></td>
					</tr>
                {{ end }}
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="automatic-tab-pane" role="tabpanel">
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
                {{ range $index, $value := .node.AutomaticAttributes }}
					<tr>
						<td><span class="node-attribute-key">{{$index}}</span></td>
						<td><span class="node-attribute-value"><code class="text-break">{{$value}}</code></span></td>
					</tr>
                {{ end }}
				</tbody>
			</table>
		</div>
	</div>
</div>
