<div class="d-flex">
	<h2 class="node-headline flex-grow-1">{{ .node.Name }}
		{{ if index .node.AutomaticAttributes "$.ipaddress" }}
		<small class="text-muted">({{ index .node.AutomaticAttributes "$.ipaddress" }})</small>
		{{ end }}
	</h2>
	<div class="node-highlights">
		<!-- badges will go here eventually (#74) -->
	</div>
</div>

<hr>
<div class="node-details d-flex">
	<ul class="list-unstyled flex-grow-1">
		{{ if .node.PolicyName }}
		<li>
			<strong>Policy:</strong>
			<a href="/ui/policies/{{ .node.PolicyName }}">{{ .node.PolicyName }}</a>
		</li>
		<li>
			<strong>Policy Group:</strong>
			<a href="/ui/policy-groups/{{ .node.PolicyGroup }}">{{ .node.PolicyGroup }}</a>
		</li>
		{{ else }}
		<li>
			<strong>Environment:</strong>
			<a href="/ui/environments/{{ .node.Environment}}">{{ .node.Environment}}</a>
		</li>
		{{ end }}
		<li><strong>Run List:</strong>
			<ul class="list-inline">
				{{ range .node.RunList }}
				<li class="list-inline-item"><a href="/ui/{{ makeRunListURL . }}">{{.}}</a></li>
				{{end}}
			</ul>
		</li>
	</ul>
	<div class="node-highlights text-end">
		{{ if index .node.AutomaticAttributes "$.os_release.pretty_name" }}
		<div><span class="text-muted">OS:</span> <span>{{ index .node.AutomaticAttributes "$.os_release.pretty_name" }}</span></div>
		{{ end }}
		{{ if index .node.AutomaticAttributes "$.chef_packages.chef.version" }}
		<div><span class="text-muted">Chef version:</span> <span>{{ index .node.AutomaticAttributes "$.chef_packages.chef.version" }}</span></div>
		{{ end }}
		{{ if index .node.AutomaticAttributes "$.ohai_time" }}
		<div><span class="text-muted">Last chef run:</span> <span id="last-run-timestamp"></span></div>
		<script>
			ohaiTime = '{{ index .node.AutomaticAttributes "$.ohai_time" }}'
			lastRun = dayjs.unix(ohaiTime).format('YYYY-MM-DD HH:mm:ss')
			document.getElementById('last-run-timestamp').innerText = lastRun
		</script>
		{{ end }}
	</div>
</div>

