<div class="d-flex">
	<h2 class="node-headline flex-grow-1">{{ .node.Name }}
		{{ if index .node.AutomaticAttributes "$.IPAddress" }}
		<small class="text-muted">({{ index .node.AutomaticAttributes "$.IPAddress" }})</small>
		{{ end }}
	</h2>
	<div class="node-highlights">
		{{ if index .node.AutomaticAttributes "$.ohai_time" }}
		<div><span class="text-muted">Last chef run:</span> <span id="last-run-timestamp"></span></div>
		<script>
			ohaiTime = '{{ index .node.AutomaticAttributes "$.ohai_time" }}'
			lastRun = dayjs.unix(ohaiTime).format('YYYY-MM-DD HH:mm:ss')
			document.getElementById('last-run-timestamp').innerText = lastRun
		</script>
		{{ end }}
	</div>
</div>

<hr>
<ul class="list-unstyled">
    {{ if .node.PolicyName }}
		<li>
			<strong>Policy:</strong>
			<a href="/ui/policies/{{ .node.PolicyName }}">{{ .node.PolicyName }}</a>
		</li>
		<li>
			<strong>Policy Group:</strong>
			<a href="/ui/policy-groups/{{ .node.PolicyGroup }}">{{ .node.PolicyGroup }}</a>
		</li>
    {{ else }}
		<li>
			<strong>Environment:</strong>
			<a href="/ui/environments/{{ .node.Environment}}">{{ .node.Environment}}</a>
		</li>
    {{ end }}
	<li><strong>Run List:</strong>
		<ul class="list-inline">
            {{ range .node.RunList }}
				<li class="list-inline-item"><a href="/ui/{{ makeRunListURL . }}">{{.}}</a></li>
            {{end}}
		</ul>
	</li>
</ul>
