<h2 class="node-headline">{{ .node.Name}}</h2>
<p class="lead">{{ .node.DefaultAttributes.ipaddress }}</p>
<hr>
<ul class="list-unstyled">
    {{ if .node.PolicyName }}
		<li>
			<strong>Policy:</strong>
			<a href="/ui/policies/{{ .node.PolicyName }}">{{ .node.PolicyName }}</a>
		</li>
		<li>
			<strong>Policy Group:</strong>
			<a href="/ui/policy-groups/{{ .node.PolicyGroup }}">{{ .node.PolicyGroup }}</a>
		</li>
    {{ else }}
		<li>
			<strong>Environment:</strong>
			<a href="/ui/environments/{{ .node.Environment}}">{{ .node.Environment}}</a>
		</li>
    {{ end }}
	<li><strong>Run List:</strong>
		<ul class="list-inline">
            {{ range .node.RunList }}
				<li class="list-inline-item"><a href="/ui/{{ makeRunListURL . }}">{{.}}</a></li>
            {{end}}
		</ul>
	</li>
</ul>
