<h4>Cookbook</h4>
<ul class="list-unstyled">
    {{ range .cookbook.RootFiles }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
    {{ end }}
</ul>

{{ if .cookbook.Attributes }}
<h4>Attributes</h4>
<ul class="list-unstyled">
    {{ range .cookbook.Attributes }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
    {{ end }}
</ul>
{{ end }}


{{ if .cookbook.Recipes }}
<h4>Recipes</h4>
<ul class="list-unstyled">
    {{ range .cookbook.Recipes }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ if .cookbook.Libraries }}
<h4>Libraries</h4>
<ul class="list-unstyled">
    {{ range .cookbook.Libraries }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ if .cookbook.Templates }}
<h4>Templates</h4>
<ul class="list-unstyled">
    {{ range .cookbook.Templates }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ if .cookbook.Files }}
<h4>Files</h4>
<ul class="list-unstyled">
    {{ range .cookbook.Files }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ if .cookbook.Resources }}
<h4>Resources</h4>
<ul class="list-unstyled">
    {{ range .cookbook.Resources }}
		<li><a href="/ui/cookbook/{{ $.cookbook.Metadata.Name }}/{{ $.cookbook.Metadata.Version }}/{{ .Path }}">{{ .Path }}</a></li>
	{{ end }}
</ul>
{{ end }}
