name: frontend-test
on:
  push:
    paths:
      - 'ui/**'
      - '.github/workflows/frontend-test.yml'
      - '!ui/templates/**'
      - '!ui/embed.go'
      - '!ui/dist/**'
      - '!**.md'
  pull_request:
    paths:
      - 'ui/**'
      - '.github/workflows/frontend-test.yml'
      - '!ui/templates/**'
      - '!ui/embed.go'
      - '!ui/dist/**'
      - '!**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: ui/yarn.lock
      - name: Build UI
        working-directory: ./ui
        run: |
          yarn install --frozen-lockfile
          yarn run build